*{margin: 0; padding: 0;}

a{color: #000; text-decoration: none;}
ul{list-style: none;}

nav{
    background: skyblue;
    width: 100%;
    height: 40px;
}
nav>ul{
    display: flex;
    align-items: center;
    height: 100%;
}
nav>ul>li{
    position: relative;
}
nav>ul>li>a{
    padding: 10px 20px;
    color: #fff;
}
nav>ul>li>ul{
    display: none;
    position: absolute;
    top: 30;
    left: 0;
    background: yellow;
    width: 100%;
}
nav>ul>li:hover>ul{
    display: block;
}
nav>ul>li>ul>li:hover{
    background: #918b8b;
}
nav>ul>li>ul>li{
    height: 30px;
    line-height: 30px;
    text-align: center;
}
nav>ul>li>ul>li>a{color: white;}

