/* nav{width: 100%; background: #fff; 
    border-bottom: 1px solid #ddd; height: 80px;}
nav> .bg{
    width: 100%; height: 240px;
    background: yellowgreen;
    position: absolute;
    top: 80px; display: none;
}
nav:hover> .bg{display: block;}
nav>ul{display: flex; justify-content: center; 
        height: 100%; 
        align-items: center;      
    }
nav>ul>li{}
nav>ul>li>a{
    text-decoration: none;
    color: #333; 
    transition: .3s;
    display: block;
    padding: 10px 20px;
}
nav>ul>li:hover>a{color: red;}
nav>ul>li>ul{display: none; position: absolute; top: 80px; width: 126.14px;}
nav:hover>ul>li>ul{display: block;}
nav>ul>li>ul>li{
    text-align: center;
}
nav>ul>li>ul>li>a{
    padding: 20px 0; 
    display: block;
    text-decoration: none;
    color: #fff;
}
nav>ul>li>ul>li>a:hover{text-decoration: underline;} */

nav{width: 100%; background: pink; border-bottom:1px solid #a55858; 
    height: 80px;}
nav> .bg{width: 100%; height: 240px; color: tan; 
    position: absolute; top: 80px;}
nav>ul{display: flex; align-items: center; justify-content: center; height: 100%;}
nav>ul>li{}
nav>ul>li>a{text-decoration: none; color: orangered; transition: .3s;
    padding: 10px 20px; display: block;} 
nav>ul>li>ul{display: none;}
nav>ul>li>ul>li{text-align: center;}
nav>ul>li>ul>li>a{}

