a{text-decoration: none; color: #000;}

nav{background: rgb(9, 255, 0);  padding: 20px 0;}

nav>ul{
    display: flex;
    position: relative;

}
nav>ul>li{position: relative;}
nav>ul>li>a{
    padding: 19px 20px; 
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
nav>ul>li>ul{
    display: none; 
    top: 36px; 
    width: 100%;
    position: absolute; background: pink;}
nav>ul:hover>li>ul{display: block; text-align: center;}
nav>ul>li>ul>li:hover{background: #f00;}
nav>ul>li>ul>li{transition:.5s;}
nav>ul>li>ul>li>a{
    padding: 20px;
    display: block;
}
nav>ul>li>ul>li:hover>a{color: white;}