/* 체크박스 숨김 */
#menu-toggle {
  display: none;
}

/* 햄버거 버튼 */
.menu-btn {
  font-size: 28px;
  cursor: pointer;
  z-index: 1001;
  position: relative;
}

/* 메뉴 기본 상태 (숨김) */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -250px; /* 화면 밖 */
  width: 250px;
  height: 100vh;
  background: #333;
  padding: 40px 20px;
  transition: 0.3s;
}

/* 체크박스가 체크되면 메뉴 오픈 */
#menu-toggle:checked ~ .mobile-menu {
  right: 0;
}

.mobile-menu ul li {
  margin-bottom: 20px;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
